.emptypng {
    background-image: url('../images/1461090681_star.png');
    width: 25px;
    height: 25px;
    display:inline-block;
    background-size:contain;
            align-items:center;
}
.smileypng {
    background-image: url('../images/1461090681_Star-Half-Full.png');
    width: 25px;
    height: 25px;
    display:inline-block;
        background-size:contain;
        align-items:center;
}
.donesmileypng {
    background-image: url('../images/1461090620_Star-Full.png');
    width: 25px;
    height: 25px;
    display:inline-block;
          background-size:contain;
                  align-items:center;
} 